.container
  .wrap
    .login_upper
      .image
        = image_tag 'login_image.png'
      .title
        %h2='MyRecipe'
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .login_form
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
        .field
          = f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード'
        .field
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード確認'
      .actions
        = f.submit "新規登録"
      .devise_link
        = render "devise/shared/links"
