!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Recipeapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/62bafbe9db.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  
  %body
    .header
      .header_left
        = link_to :back do
          %i.fa-solid.fa-arrow-rotate-left
      .title
        %h2 My Recipe
      .header_right
        .openbtn
          %span
          %span
          %span
        %nav#g-nav
          %ul
            %li
              -# = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
            %li
              -# = link_to 'お問い合わせ', new_contact_path
    = yield
